@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

p{
    font-size: 16px ;
}
h2{
    font-weight: 700;
    font-size: 20px;
}
a{
    font-weight: 700;
}
:root{
    --main-color:black;
    --accent-color:white;
    font-family: 'Playfair DIsplay', serif;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    margin:auto;
}
/*HEADER START*/
header{
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 150px;
    opacity: 0.9;
}

header .logo{
    color: white;
}

.logo>h1{
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 0;
}

/*HEADER END*/

/* CAROUSEL START*/

  .carousel{
      margin-right: 50px;
      margin-left: 50px;
  }
    .swiper-container {
        width: 100%;
        height: 400px;
        margin-left: 20px;
        margin-right: 100px;
    
  }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }



.icons-inner{
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    flex-direction: column;
}

.icons-inner img{
    width: 150px;
}

/*CAROUSEL SECTION END */

/*MAIN NAVBAR START*/
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.navbar-elements{
    margin-top: 1.6rem;
    margin-right: 50px;
   }
.navbar-elements a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.contact-us{
    margin-top: 1.6rem;
}

.contact-us a{
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    background-color: rgb(18, 209, 184);
    color: white;
    border-radius: 50px;
}

.navbar-elements a:hover{
    background-color: blue;
    transition: .5s;
    border-radius: 20px;
    color: white;

}

.contact-us a:hover{
    transition:0.5s ease;
    background-color:black;
}

/*MAIN NAVBAR END*/

/*GALLERY START*/
#gallery h2{
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    }
.container{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }
  
  .gallery_imgs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding-left: 10px;
  }
  
  .main_img{
      width: 100%;
  }
  .main_img img {
    width: 100%;
    border-radius: 25px;
  }
  
  .gallery_imgs img {
    width: 100%;
  }
  
  .gallery_imgs img:hover{
    box-shadow: 10px 5px 10px 5px;
    transition: .3s;
    cursor: pointer;
  }
  
  @keyframes fadeIn{
    to {
      opacity: 1;
    }
  }
  
  .fade-in{
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
  }
/*GALLERY END*/

/* ABOUT US SECTION START*/

#about-us{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px ;
}

#illustration-about >img{
    width: 100%;
    border-radius: 15px;
}
.about-us-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    width: 100%;
}

.about__us__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.motivational-text{
    padding: 30px;
}

/* ABOUT US SECTION END*/

/* CAROUSEL */


/* OUR COURSES SECTION START*/

#our-courses{
    margin-top: 30px;
    background-image: url(/img/paris-background-min.jpg);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.our-courses-title > h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

.formulas{
    margin-top: 60px;    
}
.formulas > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    column-gap: 60px;
    padding-left: 60px;
    padding-right: 60px;
    }

.course-type{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 15px;
    
}

.course-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.course-price{
    font-size:1.5rem ;
    font-weight: bold;
    color: turquoise;
    padding-bottom: 40px;
}

.course-description{
    font-size: 1rem;
    padding-bottom: 40px;
}

.get-started{
    text-decoration: none;
    font-weight: bold;
    background-color: blue;
    color: cornsilk;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.get-started:hover{
    background-color: darkblue;
    box-shadow: 10px 5px 5px black;
    transition: .3s;
}

.contact-us-about{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    }

.contact-us-about > a{
    text-decoration: none;
    border: 2px white solid;
    color: white ;
    font-weight: bold;
    padding: 10px 30px 10px 30px ;
    border-radius: 50px;
}

.contact-us-about > a:hover{
    background-color: white;
    color: blue;
    transition: 0.5s;
}
/* OUR COURSES SECTION END*/

/* OUR TEAM SECTION START */

#our-team{
    margin-top: 50px;
}

#our-team > h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.teachers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    width: 100%;
}

.prof{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof > img {
    width: 25%;
    border-radius: 50%;
}

.teacher-name  {
    padding-top: 25px; 
    }

.profession{
    padding-top: 10px;
} 

.about-teacher{
    padding-top:15px ;
    padding-bottom:15px;
}

.teacher-mail{
    text-decoration: none;
    color: black;
}

.social-networks{
    display:flex;
    list-style: none;
    padding: 0;
}

.social-icons{
   width:100%;
   transition: 0.5s; 
}
.social-icons:hover{
   transform: scale(1.5);
} 

.all-team{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.all-team> a {
    text-decoration: none;
    background-color: none;
    color: black;
    border: blue 2px solid;
    border-radius: 50px;
    padding:10px 30px 10px 30px ;
    

}

.all-team > a:hover{
    color: white;
    background-color: blue;
    transition: 0.5s;
}

/* OUR TEAM SECTION END */


/* CONTACTS SECTION START */
.contacts{
    margin-top: 100px;
    background-image:linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 50px;
}


.contacts-title>h2{
    font-size: 5rem;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 30px;
    color: black;
}

.subtitles-contacts {
    font-size: 1.2rem;
    padding-left: 15px ;
    padding-bottom: 30px;
    color: white;
}

.info-container{
    display: flex;
    justify-content: center;
    padding-left:  25px;
}
.info-inner > h2{
    font-size: 1.8rem;
    color: white;
    padding:0;
}

.info-inner >p {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.info-inner{
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: center;
    padding: 0;
}

#form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.din-rebi{
    border-radius: 10px;
    width: 70%;
}

.din-rebi form{
    width: 100%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-infos, .form-text{
    display: flex;
    padding: 25px 15px;
    width: auto;
   /* box-sizing: border-box;*/
    
}


.form-infos > input {
height: 40px;
     width: 100%;
     border-radius: 25px;
     padding: 15px;
     background-color: rgb(216, 212, 212);
     border: none;
}

.form-text> input{
    height: 150px;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    border: none;
    background-color: rgb(216, 212, 212);
}

#submit{
   margin-bottom: 15px;
   display: flex;
   align-content: center;
   text-align: center;
   margin-left: 190px;
   margin: auto;
   padding-bottom: 20px;
}

#submit > input{
    padding: 10px 30px 10px 30px;
    background-color: blue;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color : white;
    font-weight: bold;
    display: flex;
    margin: auto;
}
/*CONTACTS SECTION END*/

/*FOOTER SECTION START*/
.footer_socials{
    padding: 30px;
}
.main-footer{
    display: flex;
    justify-content: space-between;
}
.footer-navbar{
    display: flex;
    padding: 30px;
}
.nav-lower>ul{
    list-style: none;
    margin: 0;
}
.nav-lower ul li a {
    text-decoration: none;
}

.socials-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials-footer p{
    margin: 0;
}
.social-networks-footer{
    display: flex;
    list-style: none;
    padding: 0;
}
.social-networks-footer li:hover{
        transform: scale(1.5);
        transition: 0.3s;
}

.copyright-mentions{
    display: flex;
    justify-content: space-evenly;
}
/*FOOTER SECTION END*/



@media only screen and (max-width:760px){
      
    .header-nav,.navbar-elements,.contact-us{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .navbar-elements{
        margin-left: 50px;
        display: none;
    }
    .contact-us{
        margin-bottom: 1.6rem;
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    

    /* HAMBURGER-MENU */
    .hamburger-menu{
    width: 30px;
    height: 30px;
   /* padding-right: 10px;*/
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    }   

    .line{
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all .5s;
    }

    .change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .change .line-2{
    opacity: 0;
    }
    .change .line-3{
    transform: rotateZ(45deg) translate(-8px, -6px);
    }

    .main-nav{
     display: none;
    }
    .main-nav>ul {
    display: flex;
    flex-direction: column;
    border: none;
  
    }
    .main-nav li {
    border-top: .1px dashed #e9ceffce ;
    }


/* HAMBURGER-MENU-END */

/* ABOUT US RESPONSIVE START */
    .about-us-inner{
      grid-template-columns: 1fr; 
      grid-template-rows: 2fr;
    }
   
/*ABOUT US RESPONSIVE END*/

    .formulas > ul{
    grid-template-columns: 1fr ;
    grid-template-rows: 3fr ;
    row-gap: 30px;
    }

    .teachers{
      grid-template-columns: 1fr ;
      grid-row: 2fr; 
    }
  

    .contacts{
    margin-top: 2px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 50px;
    }

/* GALLERY RESPONSIVE START */
    .container{
        flex-direction: column;

    }
    .gallery_imgs{
        align-items: center;
        padding-left: 0px;
        padding-right: 10px;
    }

/* GALLERY RESPONSIVE END */  

.info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    }
}

@media only screen and (max-width:536px){
    .main-footer{
        flex-direction: column;
        align-items: center;
    }
}







































.mapouter {
    position: relative;
    text-align: right;
    height: 198px;
    width: 576px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 198px;
    width: 576px;
    
}
